{% if site.posts %}
  {% for category in site.categories %}
    <ul class="rows">
      <header>
      <h3> {{category[0]}} </h3>
     </header>
      {% if category[0] == 'writing' %} 
         {% include posts_list.html uid=page.id %}
      {% endif %}
      <li class="row__cols">
        <div class="row__title">
          {% if site.post_title %}
            {{ site.post_title }}
          {% else %}
            Title
          {% endif %}
        </div>
        <div class="row__date">
          {% if site.post_date %}
            {{ site.post_date }}
          {% else %}
            Date
          {% endif %}
        </div>
        <div class="row__med">
          {% if site.post_medium %}
            {{ site.post_medium }}
          {% else %}
            Medium
          {% endif %}
        </div>
      </li>
      {% for post in category[1] %}
        <li class="row__post">
           {% if post.external_url %}
            <a href="{{ post.external_url}}" target="_blank" rel="noopener noreferrer" id="external-link">
           {% else %}
              {% if post.photos %} 
              {% else %}
                <a href="{{ site.url }}{{ post.url | relative_url }}">
              {% endif %}
           {% endif %}
              <div class="row__title {% if include.uid == post.id %}row__active{% endif %}">
                {{ post.title }}{% if post.pub %} [<span class="pub"> {{ post.pub }} </span>] {% endif %}
              </div>
              <div class="row__date {% if include.uid == post.id %}row__active{% endif %}">
                {% if site.date_format %}
                  {{ post.date | date: site.date_format }}
                {% else %}
                  {{ post.date | date: "%b %-d, %Y" }}
                {% endif %}
              </div>
              <div class="row__med {% if include.uid == post.id %}row__active{% endif %}">
                {{ post.medium}}
              </div>
            </a>
              
          {% if post.photos %}
            <div class="photo__gallery">
              {% for img in post.photos %}
                <div class="photos__img">
                    <a href="#{{ img[0] }}">
                      <img src="{{ img[1] }}" alt="{{ img[0] }}" />
                    </a>
                    <a class="lightbox" id="{{ img[0] }}" href="#_">
                      <img src="{{ img[1] }}" alt="{{ img[0] }}" />
                    </a>
                  </a>
                </div>
              {% endfor %}
            </div>
          {% endif %}
              
          {% if post.img %}
            <img class="row__img" src="{{ post.img }}" alt="{{ post.title }}">
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endfor %}                                               
{% endif %}
