{% if site.posts %} {% for category in site.categories %} {% if category[0] == 'art' %} {% for post in category[1] %}
{% if site.date_format %} {{ post.date | date: site.date_format }} {% else %} {{ post.date | date: "%Y-%m-%d" }} {% endif %} | {{ post.title }}
{{ post.title }}
{% if post.thumbnail %} {% if post.external_url %}

{% endif %} {% endif %} {% for img in post.photos %} {% assign idx = forloop.index0 %} {% assign prev_photo = nil %} {% unless forloop.first %} {% assign prev_idx = idx | minus: 1 %} {% for p in post.photos %} {% if forloop.index0 == prev_idx %} {% assign prev_photo = p %} {% endif %} {% endfor %} {% endunless %} {% assign next_photo = nil %} {% unless forloop.last %} {% assign next_idx = idx | plus: 1 %} {% for p in post.photos %} {% if forloop.index0 == next_idx %} {% assign next_photo = p %} {% endif %} {% endfor %} {% endunless %}
{{ img[0] }}
{{ img[0] }}  
{% endfor %}
{% endfor %} {% endif %} {% endfor %} {% endif %}
