.image_post_body {
  padding-bottom: 20px;
  border-bottom: 1px solid $color__black;

  pre {
    background: $color__gray;
    padding: 10px 20px;
  }

  code {
    background: $color__gray;
    font-size: 12px;
  }

  img {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.image_container {
  overflow: hidden;
}

.image_post {
    max-width: 45%;
    float:left; /* add this */
}
.image_gallery {
    float: left;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

// media queries
@include media-query($on-laptop) {
  .post {
    min-width: 500px;
    width: 50%;
  }
}
