
.image__container {
  overflow: hidden;
}

.scroll__container {
    margin-left: auto;
    margin-right: 0;
    max-width : 80%; 
}

.image__sticky {
  vertical-align: top;
  max-width:100%;
  padding-top: 10%;
  padding-bottom : 5%;
  padding-right: 5%;
  padding-left: 5%;
  overflow: auto;
}

.image__gallery {
  vertical-align: top;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.image__body {
  margin: -20px 0 0px
}
  

.image__post__body {

    pre {
      background: $color__gray;
      padding: 10px 20px;
    }

    code {
      background: $color__gray;
      font-size: 12px;
    }

    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  
}

@media screen and (max-width: 1000px) {
  .image__body {
    margin : 0px 0px 0px;
  }
  .scroll__container {
    margin-left: auto;
    margin-right: auto;
    max-width : 80%; 
  }
  .image__gallery {
    padding-right: 5%;
    padding-left: 5%;
    padding-inline-start: 0px;
  } 
  
}


@media screen and (min-width: 1000px) {
  .image__sticky {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 120px 120px;
    float: left;
    max-width: 35%;

  }
  .image__gallery {
    float: right;
    max-width: 80%;
    overflow: hidden; /* if you don't want #second to wrap below #first */
  }
}



.image-gallery li {float: left; display: block; margin: 0 0 0% 0%; max-width: 100%;}
.image-gallery li {text-align: center; text-decoration: none!important; color: #777;}
.image-gallery li span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
.image-gallery li img { max-width: 100%; display: block;}
.image-gallery ul { margin-block-start: 0; margin-block-end: 0; }

// media queries
@include media-query($on-laptop) {
  .post {
    min-width: 500px;
    width: 50%;
  }
}
