
.image__container {
  overflow: hidden;
}

.image__post {
    max-width: 35%;
    float:left; /* add this */
}
.image__gallery {
    float: left;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

// media queries
@include media-query($on-laptop) {
  .post {
    min-width: 500px;
    width: 50%;
  }
}
