<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../dist/css/chocolat.css" />
        <script type="text/javascript" src="../dist/js/chocolat.iife.js"></script>
        <style>
            body {
                text-align: center;
                font-family: Arial;
                font-size: 12px;
            }
            h2 {
                padding-top:20px;
                font-size: 14px;
                font-weight: normal;
                border-top:1px solid #eeeeee;
            }
            a {
                border:0;
                color: #2645FF;
                text-decoration: none;
            }
            .demo {

            }
        </style>
        <title> {{ page.title }} </title>

    </head>
    <body>
        <h2>
            Display in a container, looping :
        </h2>

      <div class="chocolat-parent">
    <a class="chocolat-image" href="series/1.jpg" title="caption image 1">
        <img width="100" src="series/mini/1.jpg" />
    </a>
    <a class="chocolat-image" href="series/2.jpg" title="caption image 2">
        <img width="100" src="series/mini/2.jpg" />
    </a>
    <a class="chocolat-image" href="series/3.jpg" title="caption image 3">
        <img width="100" src="series/mini/3.jpg"/>
    </a>
</div>

<script>document.addEventListener("DOMContentLoaded", function(event) { 
        Chocolat(document.querySelectorAll('.chocolat-parent .chocolat-image'))
    })</script>

    </body>

</html>
