<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
      {% include chocolat_head.html %}
    </head>
    <body>
        <h2>
            Display in a container, looping :
        </h2>

      <div class="chocolat-parent">
    <a class="chocolat-image" href="series/1.jpg" title="caption image 1">
        <img width="100" src="series/mini/1.jpg" />
    </a>
    <a class="chocolat-image" href="series/2.jpg" title="caption image 2">
        <img width="100" src="series/mini/2.jpg" />
    </a>
    <a class="chocolat-image" href="series/3.jpg" title="caption image 3">
        <img width="100" src="series/mini/3.jpg"/>
    </a>
</div>

<script>document.addEventListener("DOMContentLoaded", function(event) { 
        Chocolat(document.querySelectorAll('.chocolat-parent .chocolat-image'))
    })</script>

    </body>

</html>
