<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body class='image__body'>
    <div class="container scroll__container">
      <div class="image__container">
        <div class='image__sticky'>
          <div class="bio__header image__bio__header">
            <a href="{{ site.url }}{{ "/" | relative_url }}">
              {{ site.header }}
            </a>
          </div>
          <div class="post__meta">
            <div class="post__title">{{ page.title }}</div>
          </div>
          <div class="image__post__body">
            {{ content }}
          </div>
        </div>
        <div class="image__gallery">
           <ul class="image-gallery">
              {% for img in page.photos %}
                  <li>
                    <a href="#{{ img[1] }}">
                        <img src="{{ img[1] }}" alt="{{ img[0] }}" title="{{ img[0] }}" />
                    </a>
                    <a class="lightbox" id="{{ img[1] }}" href="#_">
                        <img src="{{ img[1] }}" alt="{{ img[0] }}" />
                    </a>
                  </li>
              {% endfor %}
          </ul>
        </div>
       </div>
      </div>
        {% if site.prev-next %}
          <div class="post__paginate">
            {% if page.previous.url %}
              <a class="post__paginate-left" href="{{ site.url }}{{ page.previous.url | relative_url }}">{{ page.previous.title }}</a>
            {% endif %}

            {% if page.next.url %}
              <a class="post__paginate-right" href="{{ site.url }}{{ page.next.url | relative_url }}">{{ page.next.title }}</a>
            {% endif %}
          </div>
        {% endif %}
    </div>

  </body>
</html>
