<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}

  <body>
    <div class="container">
      <div class="image__container">
        <div class='image__sticky'>
          <div class="bio__header image__bio__header">
            <a href="{{ site.url }}{{ "/" | relative_url }}">
              {{ site.header }}
            </a>
          </div>
          <div class="post__title">{{ page.title }}</div>
          <div class="image__post__body">
            {{ content }}
          </div>
        </div>
        <div class="image__gallery">
           {% include image-gallery.html folder="/art/" %}
        </div>
       </div>
      </div>
    </div>
  </body>
</html>
